* {
    box-sizing: border-box;
}
body{
    background-image: url("../images/weather/weather.png")
}
.row {
    margin: 5px;
}

#header {
    background-color: orange;
    color: white;
    width: 20%;
    height: 100%;
    font-weight: bold;
    font-size: 40px;
    text-align: center;
    padding: 10px 0px 0px 0px;
}
#rules {
    background-color: beige;
    color: green;
    width: 50%;
    height: 360px;
    padding: 10px 5px 0px 5px;
}
.instructions {
    margin: 0px 0px 20px 0px;
    font-weight: bold;
}
#pc-num {
    background-color: green;
    color: purple;
    height: 100px;
    width: 15%;
    font-size: 30px;
    padding: 0px 5px;
    
}
#wins-losses {
    background-color: aqua;
    color: blue;
    text-align: center;
    height: 100px;
    width: 8%;
    margin: 0px 5px;
    padding: 10px 0px;  
}
img {
    height: 100px;
    width: 100px; 
    margin: 0px 5px 0px 0px;  
}
#total {
    background-color: darkgreen;
    color: white;
    width: 20%;
    padding: 0px 0px 0px 5px;
}
#score {
    background-color: darkgreen;
    color: white;
    height: 100px;
    width: 20%;
    font-size: 30px;
    margin: 0px;
    padding: 0px 5px;
}